[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"boto3" = "*"
requests-mock = "*"
pyyaml = "*"
python-dotenv = "*"
hvac = "*"

[dev-packages]
ipython = "*"
pytest = "*"
black = "*"
moto = "*"
pre-commit = "*"
sphinx = "*"
sphinx-rtd-theme = "*"
recommonmark = "*"
sphinxcontrib-blockdiag = {ref = "1.5.5", git = "https://github.com/blockdiag/sphinxcontrib-blockdiag.git"}
mypy = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true

[scripts]
tests = "pytest ./tests/"
